@model IEnumerable<InventoryManagementSystem.Models.Product>

@{
    ViewBag.Title = "DispalyProduct";
}

<h2>Dispaly Product</h2>

<p>
    @Html.ActionLink("Create New", "CreateProduct","Product", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr class="success">
        <th>
            @Html.DisplayName("Product Name")
        </th>
        <th>
            @Html.DisplayName("Product Quantity")
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductQnty)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateProduct","Product", new { id=item.id }, new {@class="btn btn-primary"}) |
            @Html.ActionLink("Details", "ProductDetails","Product", new { id=item.id }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "DeleteProduct", "Product", new { id=item.id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
